<a class="col-6 col-sm-3" class='m-1' href="/">
    <div class="card">
        <div class="card-header blue">
            <p>Back</p>
        </div>
        <div class="card-body">
            <i class='fas fa-arrow-left fa-2x'></i>
        </div>
    </div>
</a>