<%- include('./partials/head/full') %>
<div class="row mb-1">
    <a class="col-6 col-sm-3" href='javascript:toggle("all_off")'>
        <div class="card">
            <div class="card-header blue">
                <p>All<br>Off</p>
            </div>
            <div class="card-body">            
            </div>
        </div>
    </a>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row mb-1">
    <div class="col-6 col-sm-3">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">            
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div><div class="row mb-1">
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">            
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <div class="card" style='display:none'>
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <%- include('./partials/back') %>
</div>
<%- include('./partials/foot/js') %>
<script>
</script>
<%- include('./partials/foot/htmlClose') %>