.w-5 {width: 5%;}
.w-10 {width: 10%;}
.w-15 {width: 15%;}
.w-20 {width: 20%;}
.w-25 {width: 25%;}
.w-30 {width: 30%;}
.w-35 {width: 35%;}
.w-40 {width: 40%;}
.w-45 {width: 45%;}
.w-50 {width: 50%;}
.w-55 {width: 55%;}
.w-60 {width: 60%;}
.w-65 {width: 65%;}
.w-70 {width: 70%;}
.w-75 {width: 75%;}
.w-80 {width: 80%;}
.w-85 {width: 85%;}
.w-90 {width: 90%;}
.w-95 {width: 95%;}
.w-100 {width: 100%;}
.f-01 {font-size: 0.1rem;}
.f-02 {font-size: 0.2rem;}
.f-03 {font-size: 0.3rem;}
.f-04 {font-size: 0.4rem;}
.f-05 {font-size: 0.5rem;}
.f-06 {font-size: 0.6rem;}
.f-07 {font-size: 0.7rem;}
.f-08 {font-size: 0.8rem;}
.f-09 {font-size: 0.9rem;}
.f-10 {font-size: 1.0rem;}
.f-11 {font-size: 1.1rem;}
.f-12 {font-size: 1.2rem;}
.f-13 {font-size: 1.3rem;}
.f-14 {font-size: 1.4rem;}
.f-15 {font-size: 1.5rem;}
.f-16 {font-size: 1.6rem;}
.f-17 {font-size: 1.7rem;}
.f-18 {font-size: 1.8rem;}
.f-19 {font-size: 1.9rem;}
.f-20 {font-size: 2.0rem;}
.f-21 {font-size: 2.1rem;}
.f-22 {font-size: 2.2rem;}
.f-23 {font-size: 2.3rem;}
.f-24 {font-size: 2.4rem;}
.f-25 {font-size: 2.5rem;}
.f-26 {font-size: 2.6rem;}
.f-27 {font-size: 2.7rem;}
.f-28 {font-size: 2.8rem;}
.f-29 {font-size: 2.9rem;}
.f-30 {font-size: 3.0rem;}